// Fonts Variables

$primaryFont: "Roboto";

$bold: 700;
$semibold: 600;
$normal: 400;
$light: 300;

// Colors Variables

$primaryColor: #2961FE;

$black: #000000;
$white: white;

$gray1: #434C4E;
$gray2: #B2B4B4;
$gray3: #F6F6F6;
$gray4: #969FA8;
$gray5: rgba(67, 76, 78, 1);
$gray6: rgba(22, 30, 32, 1);
$gray7: rgba(0, 0, 0, 0.10);
$gray8: #EFF0F0;
$gray9: rgba(150, 159, 168, 1);

$blue1: #6CA3FE;
$blue2: #D4F6FF;
$blue3: rgba(40, 121, 255, 1);

// Container Variables

$containerWidth: 45.935rem;
$containerPadding: 1rem;